name: Manual Deploy
on:
  workflow_dispatch:

jobs:
  deploy-dev-gcp-run-once:
    name: Deploy dev-gcp run once
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Deploy to dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/soda-config.yaml,nais/naisjob.yaml,nais/soda-checks.yaml
          VARS: nais/dev-run-once.yaml